<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafia Random Role Selector</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app" class="app">
        <div id="overlay" v-show="show_role_overlay">
          <div class="big-item" style="margin-top:10%">{{current_player}}</div>
          <div class="big-item" v-show="show_role_flag" style="background-color:red;">{{current_role}}</div>
          <div class="big-button-div">
              <button class="big-button" @click="unhideRole()" v-show="!show_role_flag">Show Role</button>
              <button class="big-button" @click="showPlayer()" v-show="show_role_flag">Next Player</button>
          </div>
        </div>
        <h1>پدرخوانده</h1>
        <button @click="resetAll()" v-show="not_started">Reset Everything</button>
        <hr v-show="not_started">
        <ol v-show="not_started">
            <li v-for="(role, index) in roles">
                <button class="button button-outline button-small button-red" @click="removeRole(index)" v-show="not_started">x</button>
                <span :class="!isEmptyObj(role.player) ? 'crossed' : ''">
                    {{role.name}}
                </span>
            </li>
        </ol>
        <hr v-show="not_started">
        <label for="player">Players</label>
        <input id="player" v-show="not_started" placeholder="Type player's name and hit Enter" type="text" v-model="new_player" @keyup.enter="addPlayer()">
        <button @click="addPlayer()" v-show="not_started">Add new player</button>
        <ol>
            <li v-for="(player, index) in players">
                <button class="button button-outline button-small button-red" @click="removePlayer(index)" v-show="not_started">x</button> {{player.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{player.role.name}}
            </li>
        </ol>
        <button style="background-color: rgb(210 72 72)" @click="showRoles()" v-show="not_started">Show Roles</button>
        <button style="background-color: rgb(210 72 72)" @click="finishGame()" v-show="!not_started">Finish Game</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var script = document.createElement('script');
        script.setAttribute('src', './script.js?' + new Date().getTime());
        document.head.appendChild(script);
    </script>

</body>

</html>
