.app {
    padding: 50px !important;
}

.crossed {
    text-decoration: line-through;
}

.button-small {
    font-size: .8rem;
    height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 1.5rem;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}

.button-red {
    border-color: red !important;
    color: red !important;
}

.statistics span {
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}

#overlay {
  position: fixed;
  /*display: none;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,1);
  z-index: 2;
  cursor: pointer;
}

.big-item {
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.big-button-div {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
